<section role="main" class="content-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">{{ product?.nameProduct }}</h3>
          </div>
          <div class="card-body">
            <ul>
              <li>Product Description: {{ product?.descriptionProduct }}</li>
              <li>Product Price: {{ product?.priceProduct }}</li>
              <li>Product Quantity: {{ product?.quantityProduct }}</li>
              <li>Product Category: {{ product?.idCategory }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  